{% load static %}

<div class="flex items-center gap-4 [&>a:hover]:underline">
    
    {% if object.likes.count %}
    <div class="flex items-center gap-1">
        <img class="w-5 -mt-1" 
        
        {% if user in object.likes.all %}
            src="{% static 'images/fireheart_red.svg' %}" alt="liked"
        {% else %}
            src="{% static 'images/fireheart.svg' %}" alt="like"
        {% endif %}
        
        >{{ object.likes.count }}
    </div>
    {% endif %}

    {% if user.is_authenticated %}
        {% if user == object.author %}
            {% if object_type == 'post' %}
                <a href="{% url 'post-edit' object.id %}">Edit</a>
                <a href="{% url 'post-delete' object.id %}">Delete</a>
            {% elif object_type == 'comment' %}                
                <a href="{% url 'comment-delete' object.id %}">Delete</a>
            {% endif %}
        {% else %}
            <a class="cursor-pointer"
            
                {% if object_type == 'post' %}
                    hx-get="{% url 'post-like' object.id %}" 
                {% elif object_type == 'comment' %}
                    hx-get="{% url 'comment-like' object.id %}" 
                {% else %}
                    href="https://www.google.com" 
                {% endif %}
                
                hx-target="closest div"
                hx-swap="outerHTML">
                {% if user in object.likes.all %}<b>Liked</b>{% else %}Like{% endif %}
            </a>
        {% endif %}
    {% endif %}
</div>