{% load static %}


<div class="flex items-center gap-4 [&>a:hover]:underline">

    {% if reply.likes.count %}
    <div class="flex items-center gap-1">
        <img class="w-5 -mt-1" 

        {% if user in reply.likes.all %}
            src="{% static 'images/fireheart_red.svg' %}" alt="liked"
        {% else %} 
            src="{% static 'images/fireheart.svg' %}" alt="like"
        {% endif %}
        
        >{{ reply.likes.count }}
    </div>
    {% endif %}

    {% if user.is_authenticated %}
        {% if user == reply.author %}
            <a href="{% url 'reply-delete' reply.id %}">Delete</a>
        {% else %}
            <a class="cursor-pointer" hx-get="{% url 'reply-like' reply.id %}"
                hx-target="closest div"
                hx-swap="outerHTML">
                {% if user in reply.likes.all %}<b>Liked</b>{% else %}Like{% endif %}</a>
        {% endif %}
    {% endif %}

</div>
